@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);

  --color-secondary-gold: var(--secondary-gold);
  --color-secondary-orange: var(--secondary-orange);
  --color-secondary-red: var(--secondary-red);

  --color-text-dark: var(--text-dark);
  --color-text-medium: var(--text-medium);
  --color-text-light: var(--text-light);

  --color-border-gray: var(--border-gray);
  --color-background-light: var(--background-light);
  --color-background-muted: var(--background-muted);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-info: var(--info);

  /* Border Radius */
  --radius-button: 14px;
  --radius-card: 20px;
  --radius-image: 16px;

  /* Fonts */
  --font-sans: var(--font-inter);
}

:root {
  /* Primary Colors */
  --primary: #0e4701;
  --primary-light: #1b6610;
  --primary-dark: #062b00;

  /* Secondary Colors */
  --secondary-gold: #f2b705;
  --secondary-orange: #e57e25;
  --secondary-red: #d64545;

  /* Neutral Colors */
  --text-dark: #0a0a0a;
  --text-medium: #4a4a4a;
  --text-light: #f4f4f4;
  --border-gray: #d6d6d6;
  --background-light: #ffffff;
  --background-muted: #f2f4f2;

  /* UI Feedback */
  --success: #2e7d32;
  --warning: #fbc02d;
  --error: #d32f2f;
  --info: #0288d1;
}

body {
  background-color: var(--background-light);
  color: var(--text-dark);
  font-family: var(--font-inter), sans-serif;
}